/* nav bar */
.nav-link::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background:  linear-gradient( to right, #11CEC4, #00A1C6 ) left bottom no-repeat;
  transition: width .3s;
}
.nav-link:hover::after{
  width: 100%;
  transition: width .3s;
}

/* 1st carousel */
.carousel-item {
  height: 100vh;
  /* min-height: 350px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption.d-none.d-md-block {
  position: absolute;
  top: 200px;
  color: black;
  font-family: "Avenir Black", sans-serif;
}
.icon {
  background: #fff;
  padding: 15px 15px 15px 20px;
}
.getStarted-button {
  color: #fff;
  font-size: 0.9em;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 5px 5px 0px;
  margin: 0;
  padding: 15px 25px 15px 25px;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}

/* about */
#about h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-header h3 {
  font-size: 32px;
  color: #2D2D2E;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#about .readMore {
  color: #fff;
  font-size: 0.9em;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  border-width: 0px 0px 0px 0px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255,255,255,.5);
  padding: 10px 35px 10px 35px;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  margin-left: 10px;
}
.readmore-btn {
  color: #fff;
  font-size: 0.9em;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  border-width: 0px 0px 0px 0px;
  margin: 0;
  padding: 15px 25px 15px 25px;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}
.aboutus-img {
  width: 100%;
  height: 100%;
}
a {
  color: #2D2D2E;
  transition: 0.3s;
}

#about .readMore:hover {
  color: #1799ff;
  background: #fff;
  border: 1px solid #1799ff;
  font-weight: 500;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
#about .readMore {
  color: #fff;
  font-size: 0.9em;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  border-width: 0px 0px 0px 0px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(255,255,255,.5);
  padding: 10px 35px 10px 35px;
  -webkit-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  margin-left: 10px;
}

/* our mission */
#mission {
  background: #fff;
  /* background-size: cover; */
}
#mission h3 {
  font-size: 33px;
  color: #2D2D2E;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}
#mission h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-130 {
  margin-bottom: 130px;
}
p {
  padding: 0;
  margin: 0 0 30px 0;
}
.section-header p {
  text-align: center;
  padding-bottom: 30px;
  line-height: 24px;
  color: #2D2D2E;
  font-size: 0.9em;
}

/* vission */
#vission h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}

/* para sa animation */
.parallax {
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center center;
}
.bg-image-2 {
  background: url("../img/parallax/opsfam.png") no-repeat center fixed;
  background-size: 100% auto;
  background-size: cover;
}
.bg-image-3 {
  background: url("../img/parallax/instant-quote1.png") no-repeat center fixed;
  background-size: 100% auto;
  background-size: cover;
}

/* pictures sa slider 1st carousel */
.image1{
  background-image: url("../img/carousel1/1carousel.jpg");
}
.image2{
  background-image: url("../img/carousel1/2carousel.jpg");
}
.image3{
  background-image: url("../img/carousel1/3carousel.jpg");
}

/* apply */
#apply h3 {
  color: #fff;
  font-size: 29px;
  font-family: "Avenir Light", sans-serif;
  font-weight: 500;
}
a {
  color: #2D2D2E;
  transition: 0.5s;
}
#apply .cta-btn {
  font-family: "Avenir Light", sans-serif;
  font-size: 23px;
  font-weight: lighter;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 45px;
  border-radius: 5px;
  transition: 0.5s;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #fff;
  color: #fff;
}
.section {
  position: relative;
  padding: 88px 0 67px 0;
  display: block;
}

/* what we do */
#wedo h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}
#wedo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
}
#wedo .descrip {
  background: #FFFFFF;
  border-radius: 5%;
  padding: 20px 15px 5px 15px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#wedo .description {
  text-align: center;
  font-size: 0.9em;
}
#wedo .title {
  font-weight: 700;
  font-size: 19px;
  color: #2D2D2E;
  text-align: center;
}
.mt-20 {
  margin-top: 20px;
}
.zoom {
  padding: 50px;
  /* background-color: green; */
  transition: transform .2s;
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

/* para sa arrow up */
.back-to-top {
  position: fixed;
  display: none;
  background: #11CEC4;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  right: 70px;
  bottom: 28px;
  border-radius: 3px;
  transition: background 0.5s;
  z-index: 11;
}
.back-to-top i {
  padding-top: 11px;
  color: #fff;
}

/* solutions */
#solutions h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}
.item1 { 
  grid-area: header; 
  width: 431.34px;
  height: 199.31px;
  overflow: hidden;
}
.item2 { 
  grid-area: menu1;
  width: 367.78px;
  height: 399.39px;
  overflow: hidden;
}
.item3 { 
  grid-area: main; 
  width: 241.14px;
  height: 199.31px;
  overflow: hidden;
}
.item4 { 
  grid-area: right1;
  width: 205.53px;
  height: 190.14px;
  overflow: hidden;
}
.item5 { 
  grid-area: footer; 
  overflow: hidden;
}
.item6 { grid-area: sample1;overflow: hidden; }
.item7 { grid-area: sample2;overflow: hidden; }
.item8 { grid-area: sample3; overflow: hidden;}

.grid-container {
display: grid;
grid-template-areas:
'header header menu1 main'
'right1 footer menu1 sample3'
'sample1 sample1 sample2 sample3';
grid-gap: 10px;
/* width: 75%; */
}
.grid-container img{
  width: 100%;
}
.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
}
.image-wrapper {
margin: 0 auto;
overflow: hidden;
}
.img1 {
transition: transform 0.3s ease-in-out;
}
.image-wrapper:hover img {
transform: scale(1.2);
}
.hover-container {
  position: relative;
  /* width: 50%; */
  /* max-width: 300px; */
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  height: 75px;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 5px;
  text-align: left;
}
.hover-container:hover .overlay {
  opacity: 1;
}

/* clients */
#clientss h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}
#clientss .clientss-sec {
  background: #fff;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 5px 5px 20px 1px whitesmoke;
  -moz-box-shadow: 5px 5px 20px 1px whitesmoke;
  box-shadow: 5px 5px 20px 1px whitesmoke;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 20px 20px 20px;
  margin-top: 5%;
}

/* partners */
#partners h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}
#partners .partners-sec {
  margin-top: 40px;
}
/* para sa slide sa partner */
.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}
/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}
.owl-nav i {
  font-size: 52px;
}
.owl-nav .owl-prev {
  left: -30px;
}
.owl-nav .owl-next {
  right: -30px;
}

/* qoute */
#qoute h3 {
  color: #fff;
  font-size: 29px;
  font-family: "Avenir Light", sans-serif;
  font-weight: 500;
}
a {
  color: #2D2D2E;
  transition: 0.5s;
}
#qoute .cta-btn {
  font-family: "Avenir Light", sans-serif;
  font-size: 23px;
  font-weight: lighter;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 45px;
  border-radius: 5px;
  transition: 0.5s;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid #fff;
  color: #fff;
}

/* contact us */
#contact h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 110px;
  height: 3px;
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  bottom: 1px;
  left: calc(50% - 60px);
}
.mt-50 {
  margin-top: 50px;
}
.contact-icon li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 24px;
  display: table;
}
.cursorPointer {
  cursor: pointer;
}
#contact p {
  font-size: 0.9em;
  color: #2D2D2E;
  display: table-cell;
  vertical-align: top;
}
.contact-header {
  font-size: 21px;
  font-weight: 700;
  color: #2D2D2E;
}
.contact-color {
  font-weight: 700;
  color: #03c8a7;
}
.contact-ab{
  color: #A5A5AF;
  font-weight: 700;
}
.contact-semib {
  font-weight: 600;
  color: #A5A5AF;
}

/* icon para sa contact */
#contact p .icon1 {
  margin-top: 20px;
}
.icon2 {
  font-size: 19px;
  vertical-align: top;
  margin-top: 2px;
}
.mr-25 {
  margin-right: 25px;
}
#map {
  width: 100%;
  height: 280px;
  position: relative; 
  overflow: hidden;
}
#map2{
  position: absolute; 
  z-index: 0; 
  left: 0px; 
  top: 0px; 
  height: 100%; 
  width: 100%; 
  padding: 0px; 
  border-width: 0px; 
  margin: 0px;
}
#contact h4 {
  font-size: 21px;
  font-weight: 700;
  color: #2D2D2E;
}
#contact .form input, #contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 0.9em;
}

/* footer */
footer {
  background: linear-gradient(to right, #11CEC4, #00A1C6);
  padding: 0 0 40px 0;
  color: #eee;
  font-size: 15px;
}
#footer .footer1 {
  font-family: "Avenir Light", sans-serif;
  font-size: 14px;
  padding: 40px 30px 0 30px;
}
.mr-10 {
  margin-right: 10px;
}

/* para sa scroll effect */
.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}
	50% {
		-o-transform: scale(1.05);
	}
	70% {
		-o-transform: scale(.9);
	}
	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}
@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	50% {
		transform: scale(1.05);
	}
	70% {
		transform: scale(.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
.animated.animationDelayLong{
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}